<!DOCTYPE html>
<html lang="en" ng-app="oroLite">
  <head>
    <title>Hotel  Booking</title>
    <meta charset="UTF-8">
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
    
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- <script src="/javascripts/app.js"></script> -->
  <script src="/javascripts/indexCtrl.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
  </head>
  <style type="text/css">
      .test {
        width: 180px;
        margin: 0 auto;
    }
    .test1 {
        margin-left: 200px;
    }
  </style>
  <body ng-controller="indexCtrl">
 <button ng-show="loggedIn" class="btn btn-warning" style="margin-left: 90%;" ng-click="logout()">Logout</button>
<!--     <div ng-if="loading">
        <div class="ajax-loader-div">
        </div>
        <img src="images/balls.gif" class="ajax-loader">
    </div> -->
    <div class="container-fluid">
        <div  class="ng-controller">
         <header>
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"></a>
            </div>

            <ul ng-show="user_block" class="nav navbar-nav ">
                <li> <button class="btn btn-warning" style=" margin-left: 5px; margin-top: 5px;" ng-click="showHotelList()">Hotels</button></li>
                <li> <button class="btn btn-warning" style=" margin-left: 5px;  margin-top: 5px;" ng-click="showAddNewBuddyDiv()">My Profile</button></li>
                <li> <button class="btn btn-warning" style=" margin-left: 5px;  margin-top: 5px;" ng-click="fetchReco()">Recommendations</button></li>
            </ul>
        </div>
        </nav>
    </header>


    <div ng-show="login_block" class="test">
    <h4   style=" margin-left: 5px;">Login to continue</h4>
        <input type="text" name="login_email" style="padding: 2px; margin: 5px;" ng-model = "login_email" placeholder="Email" />
        <input type="password" name="initial_password"  style="padding: 2px; margin: 5px;" placeholder="password" ng-model = "initial_password"/>
        <br><br>
        <button class="btn btn-warning"  style=" margin-left: 5px;" ng-click="getInitialCheck(login_email,initial_password)">Login</button>
        <br>
        <br>
        <button class="btn btn-warning"  style=" margin-left: 5px;" ng-click="showAdmin()">Go to Signup</button>
    </div>
        
    <div ng-show="signup_block" class="test">
        <h4>Signup </h4>
        <input type="text" name="new_email" style="padding: 2px; margin: 5px;" ng-model = "new_email" placeholder="Enter new Email" />
        <input type="password" name="new_password"  style="padding: 2px; margin: 5px;" placeholder="Enter new password" ng-model = "new_password"/>
        <br><br>
        <button class="btn btn-warning"  style=" margin-left: 5px;" ng-click="addNewUser(new_email,new_password)">Signup</button>
        <br>
        <br>
        <button class="btn btn-warning"  style=" margin-left: 5px;" ng-click="showLogin()">Go to Login</button>
    </div>

    <div ng-show="user_block" >
      <div ng-show="show_my_list_div">
        <h4>List of Available Hotels</h4>
        <table class="table table-hover table-bordered bxshadow" style="width: 900px;" >
          <thead>
              <tr>
              <th  style="width:100px;">S No.</th>
              <th style="width: 300px;">Hotel Name</th>
              <th style="width: 300px;">Price</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="eachElement in myList">
                  <td>{{$index + 1 }}</td>
                  <td ng-click = "showMyTasks(eachElement)"><a href="#">{{eachElement.name}}</a></td>
                  <td>Rs. {{eachElement.price}}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div ng-show = "add_new_nuddy_list_div" style="margin-left: 30px;">
         <button class="btn btn-warning"  style=" margin-left: 5px;" ng-click="fetchPastVisits()">Past Visits</button>
          <button class="btn btn-warning"  style=" margin-left: 5px;" ng-click="fetchPastBooking()">Past Bookings</button>
        <button class="btn btn-warning"  style=" margin-left: 5px;" ng-click="fetchIncomplete()">Incomplete Bookings</button>
        <br>
        <br>
        <div ng-show="show_past_visits">
          <h4>Past Visits</h4>
          <table class="table table-hover table-bordered bxshadow" style="width: 900px;" >
            <thead>
                <tr>
                <th  style="width:100px;">S No.</th>
                <th style="width: 200px;">Hotel Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eachElement in myListNew">
                    <td>{{$index + 1 }}</td>
                    <td ng-click = "showMyTasks(eachElement)"><a href="#">{{eachElement.name}}</a></td>
                </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div ng-show="past_bookings">
          <h4>Past Bookings</h4>
          <table class="table table-hover table-bordered bxshadow" style="width: 900px;" >
            <thead>
                <tr>
                <th  style="width:100px;">S No.</th>
                <th style="width: 200px;">Hotel Name</th>
                <th style="width: 200px;">Start Date</th>
                <th style="width: 200px;">End Date</th>
                <th style="width: 200px;">Duration</th>
                <th style="width: 200px;">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eachElement in pastBookingsList">
                    <td>{{$index + 1 }}</td>
                    <td><a href="#">{{eachElement.hotelName}}</a></td>
                    <td>{{eachElement.start_date}}</td>
                    <td>{{eachElement.end_date}}</td>
                    <td>{{eachElement.duration}}</td>
                    <td>Rs. {{eachElement.cost}}</td>

                </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div ng-show="past_incomplete_bookings">
          <h4>Incomplete Bookings</h4>
          <table class="table table-hover table-bordered bxshadow" style="width: 900px;" >
            <thead>
                <tr>
                <th  style="width:100px;">S No.</th>
                <th style="width: 200px;">Hotel Name</th>
                <th style="width: 200px;">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eachElement in pastIncompleteBookingList">
                    <td>{{$index + 1 }}</td>
                    <td>{{eachElement.hotelName}}</td>
                    <td><button class="btn btn-warning" ng-click="continueBooking(eachElement)">Continue Booking</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-show = "my_buddies_div">
        <h4>Our Recommendations </h4>
        <table class="table table-hover table-bordered bxshadow" style="width: 900px;" >
          <thead>
              <tr>
              <th style="width:100px;">S No.</th>
              <th style="width: 200px;">Hotel Name</th>
              <th style="width: 200px;">Type</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="eachElement in recoHotels">
                  <td>{{$index + 1 }}</td>
                  <td ng-click = "showMyTasks(eachElement)"><a href="#">{{eachElement.name}}</a></td>
                  <td>{{eachElement.type}}</td>
              </tr>
          </tbody>
        </table>
      </div>

        <div ng-show = "my_task_list_div">
          <h4>Hotel Name : {{current_hotel}}</h4>
          <h6>Cost (for 24 hours) : {{current_list.price}} </h6>
          <br>
          <button class="btn btn-warning" ng-show = "booking_tab1" ng-click="showBookingTab()">Book Now</button>
          <br>
          <div ng-show = "booking_tab">
            <h4>Please Fill Details</h4>
            <h5>Start Date</h5>
            <input type="date" name="start_date" ng-model = "start_date" placeholder="Start Date (dd/mm/yyyy)" />
            <br>
            <br> 
            <h5>End Date</h5>
            <input type="date" name="end_date" ng-model = "end_date" placeholder="End Date (dd/mm/yyyy)" />
            <br>
            <br>
            <input type="text" name="number_rooms" placeholder="Number of rooms" ng-model = "number_rooms"/>
            <br><br>
            <h5>Rs. {{current_price}}</h5>
            <button class="btn btn-warning" ng-click="bookHotelNow(start_date, end_date,number_rooms)">Book</button>
          </div>
        </div>
    </div>


  </body>

</html>
